<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>gvz.inyragn@gurfvzcyre.arg</string>
	<key>contactName</key>
	<string>Tim Valenta</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>Django</string>
    <key>source</key>
    <dict>
        <key>method</key>
        <string>git</string>
        <key>url</key>
        <string>git://github.com/tiliv/textmate-django.tmbundle</string>
    </dict>
	<key>uuid</key>
	<string>5CAF8825-0F08-4141-A511-F529E05F208F</string>
</dict>
</plist>
